{% extends 'base.html' %}

{% block title %} Eliminar producto {% endblock %}

{% block content %}
<div class="main-content"></div>
    <div class="main-header d-flex justify-content-between">
        <h1 class="mb-2 title">¿Está seguro de eliminar el producto?</h1>
    </div>

    {{error}}
    <form action="{% url 'productos_eliminar' producto.id %}" method="post">
        {% csrf_token %}
        {{form}}

        <div class="mt-5">
            <button class="btn btn-success" type="submit">Eliminar producto</button>
            <a href="{% url 'productos_mostrar' %}" class="btn btn-danger">Volver</a>
        </div>
    </form>
</div>
{% endblock %}