{% extends 'base.html' %}

{% block title %} Editar categoría{% endblock %}

{% block content %}
<div class="main-content"></div>
    <div class="main-header">
        <h1 class="mb-2 title">Editar categoría</h1>

        <p class="mt-4 mb-4">Campos obligatorios <span class="text-danger fw-bold">*</span></p> 
    </div>

    {{error}}
    <form action="{% url 'editar_categorias' categoria.id %}" method="post" id="frmEditarCategoria">
        {% csrf_token %}

        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}{% if field.field.required %} <span class="text-danger">*</span>{% endif %}</label>
                {{ field }}
                {% if field.errors %}
                    <div class="text-danger">
                        {{ field.errors }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}


        <div class="mt-5">
            <button class="btn btn-success" type="submit">Editar categoría</button>
            <a href="{% url 'mostrar_categorias' %}" class="btn btn-danger">Volver</a>
        </div>
    </form>
</div>
<!-- <h1>{{categoria.nombre}}</h1> -->
{% endblock %}