{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'propio/css/barra_lateral.css' %}">
    <script src="{% static 'jquery/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'datatables/js/datatables.min.js' %}"></script>
    <!-- <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" /> -->
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'datatables/css/datatables.min.css' %}" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <aside class="expand" id="sidebar">
            <div class="d-flex">
                <button class="toggle-btn" type="button">
                    <!-- <i class="lni lni-grid-alt"></i> -->
                    <i class="fa-solid fa-bars"></i>
                </button>
                <div class="sidebar-logo">
                    <a href="#">CodzSword</a>
                </div>
            </div>
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <!-- <i class="lni lni-user"></i> -->
                        <i class="fa-solid fa-house"></i>
                        <span>Inicio</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                        data-bs-target="#auth" aria-expanded="false" aria-controls="auth">
                        <!-- <i class="lni lni-protection"></i> -->
                        <i class="fa-solid fa-boxes-stacked"></i>
                        <span>Almacen</span>
                    </a>
                    <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="{% url 'productos_mostrar' %}" class="sidebar-link">
                                <i class="fa-solid fa-box"></i>
                                <span>Productos</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="{% url 'mostrar_categorias' %}" class="sidebar-link">
                                <i class="fa-solid fa-tag"></i>
                                <span>Categorías</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="fa-solid fa-truck"></i>
                        <span>Proveedores</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <!-- <i class="lni lni-popup"></i> -->
                        <i class="fa-solid fa-bag-shopping"></i>
                        <span>Compras</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <!-- <i class="lni lni-cog"></i> -->
                        <i class="fa-solid fa-money-check-dollar"></i>
                        <span>Ventas</span>
                    </a>
                </li>
                <li class="sidebar-item"></li>
                <a href="#" class="sidebar-link">
                    <!-- <i class="lni lni-cog"></i> -->
                    <i class="fa-solid fa-chart-simple"></i>
                    <span>Reportes</span>
                </a>
                </li>
            </ul>
            <div class="sidebar-footer">
                <a href="#" class="sidebar-link">
                    <i class="lni lni-exit"></i>
                    <span>Logout</span>
                </a>
            </div>
        </aside>
        <div class="main p-3">
            <!-- <div class="text-center">
                <h1>
                    Sidebar Bootstrap 5
                </h1>
            </div> -->

            {% block content %} {% endblock %}
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'propio/js/menu.js' %}"></script>
    <script src="{% static 'propio/js/datatable.js' %}"></script>
    <script src="{% static 'propio/js/formValidation.js' %}" type="module"></script>
    <script src="{% static 'propio/js/toast_mensajes.js' %}"></script>

    {% if messages %}
        {% for message in messages %}
                <script>
                    const mensajes = [
                        {
                            text: '{{ message }}',
                            tag: '{{ message.tags }}'
                        }
                    ];
                    mostrarMensajes(mensajes);
                </script>
        {% endfor %}
    {% endif %}
</body>

</html>