<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <aside class="expand" id="sidebar">
        <div class="d-flex">
            <button class="toggle-btn" type="button">
                <i class="fa-solid fa-bars"></i>
            </button>
            <div class="sidebar-logo">
                <a href="#">CodzSword</a>
            </div>
        </div>
        <ul class="sidebar-nav">
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <i class="fa-solid fa-house"></i>
                    <span>Inicio</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="{% url 'clientes_mostrar' %}" class="sidebar-link">
                    <i class="fa-solid fa-user"></i>
                    <span>Clientes</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                    data-bs-target="#almacen" aria-expanded="false" aria-controls="almacen">
                    <i class="fa-solid fa-boxes-stacked"></i>
                    <span>Almacen</span>
                </a>
                <ul id="almacen" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="{% url 'categorias_mostrar' %}" class="sidebar-link">
                            <i class="fa-solid fa-tag"></i>
                            <span>Categorías</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="{% url 'productos_mostrar' %}" class="sidebar-link">
                            <i class="fa-solid fa-box"></i>
                            <span>Productos</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="{% url 'insumos_mostrar' %}" class="sidebar-link">
                            <i class="fa-solid fa-box"></i>
                            <span>Insumos</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                    data-bs-target="#personal" aria-expanded="false" aria-controls="personal">
                    <i class="fa-solid fa-clipboard-user"></i>
                    <span>Personal</span>
                </a>
                <ul id="personal" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="{% url 'empleados_mostrar' %}" class="sidebar-link">
                            <i class="fa-solid fa-user-tie"></i>
                            <span>Empleados</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="{% url 'departamentos_mostrar' %}" class="sidebar-link">
                            <i class="fa-solid fa-tag"></i>
                            <span>Departamentos</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="{% url 'puestos_mostrar' %}" class="sidebar-link">
                            <i class="fas fa-briefcase"></i>
                            <span>Puestos</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-item">
                <a href="{% url 'proveedores_mostrar' %}" class="sidebar-link">
                    <i class="fa-solid fa-truck"></i>
                    <span>Proveedores</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="{% url 'usuarios_mostrar' %}" class="sidebar-link">
                    <i class="fa-solid fa-users"></i>
                    <span>Usuarios</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <i class="fa-solid fa-bag-shopping"></i>
                    <span>Compras</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <i class="fa-solid fa-money-check-dollar"></i>
                    <span>Ventas</span>
                </a>
            </li>
            <li class="sidebar-item"></li>
            <a href="#" class="sidebar-link">
                <i class="fa-solid fa-chart-simple"></i>
                <span>Reportes</span>
            </a>
            </li>
        </ul>
        <div class="sidebar-footer">
            <a href="#" class="sidebar-link">
                <i class="lni lni-exit"></i>
                <span>Logout</span>
            </a>
        </div>
    </aside>
</body>
</html>